<div class="wrapper">
  <h1 class="title">任務表</h1>
  <p>立下目標後，全速前進吧！</p>
</div>

<% @todo_lists.each do |todo_list| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"> <i class="fa fa-bullseye" style="color: #67BCF9;"></i> <%= link_to todo_list.name, todo_list %> </h2>
    <p class="todo_list_sub_title"><%= todo_list.note %></p> 
    <p class="todo_list_time"><%= todo_list.duedate %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "新增任務", new_todo_list_path, class: 'btn' %>

</div>

